
body {
  background: url(1.jpg) no-repeat fixed center / cover;
  font-family: 'Lucida Sans Unicode', 'Arial', serif;
  color: #89ffdd;
}

h1, h3, h4, header {
  font-weight: 700;
}

h1 {
  margin: 100px 0 20px;
  text-transform: uppercase;
  font-size: 2.6rem;
}

h3 {
  margin-bottom: 25px;
  font-size: 2.3rem;
  text-align: left;
}

h4 {
  font-size: 2rem;
}


h1 + h4 {
  font-weight: normal;
}

a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: #fcca2f;
  font-size: 14px;
  color: steelblue;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}




/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  padding: 80px 0 150px;
}

.uvod {
  padding: 150px 0;
}

.historie{
  padding: 150px 0;
}
header {
  text-align: center;
}

nav ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
   display: inline-block;
}


nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}


/* UVOD STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */



.uvod .cela_sirka, 
.uvod .vetsi_cast {
  background: rgba(255,255,255,.5);
  padding: 25px;
  border-radius: 5px;
}

.uvod .cela_sirka {
  margin: 20px;
}

/* HISTORIE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.historie {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  color: black;
}

.historie .cela_sirka, 
.historie .vetsi_cast {
  background: rgba(255,255,255,.5);
  padding: 25px;
  border-radius: 5px;
}

.historie .cela_sirka {
  margin: 20px;
}



@media (min-width: 750px) {

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.4rem;
  }

}